@use "../abstracts" as *;

@media (max-width: $lg) {
  .projects-about {
    .project-carousel {
      width: 90%;
    }
  }
  .about-section {
    .about-content {
      width: 90%;
    }
    .badge {
      font-size: 1.2em;
    }
  }
}

@media (max-width: $sm) {
  .projects-about {
    .project-carousel {
      width: 100%;
    }
  }
  .about-section {
    .about-content {
      width: 100%;
      border: none;
      .selfie {
        display: block;
        float: none !important;
        margin: auto;
      }
    }

    .badge {
      font-size: 0.8em;
    }
  }

  .more-button {
    display: none;
  }

  .project-detail .project-detail-card {
    width: 100%;
    border: none;
  }
  .contact-section {
    .form {
      width: 90%;
    }
  }
}
