@use "../abstracts" as *;

.about-section {
  .about-content {
    width: 60%; 
    background: $primary-color;
    .selfie {
      margin-right: 1rem;
    }
  }

  .badge {
    background: $primary-color;
    font-size: 1.6em;
    font-weight: 300;
    &:hover {
      color: #be375f;
      background-color: $button-hover-color;
    }
  }
}
