@use '../abstracts' as *;

.about-section{

  .about-content{
    width: 40%;
    border: 2px solid $button-hover-color;
    background: $primary-color;
  }
  
  .badge {
    background: $primary-color;
    font-size: 1.6em;
    font-weight: 300;
  }
} 
  