@use "../abstracts" as *;

.more-button {
  position: absolute;
  bottom: 8%;
  right: 5%;
  background-color: $primary-color;
  font-size: 16px;
  border: 4px, solid, black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  color: white;

  &:hover {
    color: $primary-color;
    background-color: $button-hover-color;
  }
}

.source-button {
  @extend .more-button;
  bottom: 0%;
  right: 0%;
  width: 50%;
}

.demo-button {
  @extend .more-button;
  bottom: 0%;
  left: 0%;
  width: 50%;
}

.nav-button {
  background-color: white;
  font-size: 24px;
  border: none;
  padding: 2px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  color: black;
  margin: 60px auto;

  &:hover {
    color: $primary-color;
    background-color: $button-hover-color;
  }

  &:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
  }
}

.go-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: 3px solid $button-hover-color;;
  background-color: $primary-color;
  color: white;
  padding: 15px;
  border-radius: 4px;

  &:hover {
    color: $primary-color;
    background-color: $button-hover-color;
  }
}

