@use "../abstracts" as *;

.contact-section {
  background-color: $primary-color;

  .form {
    width: 60%;
  }
  .contact-link {
    color: black;
    font-size: 120px;

    :hover {
      color: $button-hover-color;
    }
  }
}
