@use "../abstracts" as *;

.contact-section {
  background-color: $primary-color;

  .contact-link {
    color: black;
    font-size: 150px;

    :hover {
      color: $button-hover-color;
    }
  }
}
