@use "../abstracts" as *;

.footer {
  background-color: $background-color;
  height: 80px;
  text-align: center;

  .footer-text {
    vertical-align: middle;
    margin: 10px;
    display: inline-block;
  }

  .footer-logo {
    @extend .footer-text;
    height: 60px;
  }
}
