@use "../abstracts" as *;

.hero-section {
  background: url("../../assets/hero_img.jpeg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  .overlay {
    background-color: rgba(0, 0, 15, 0.7);
  }

  .hero-content {
    padding: 7rem 0rem 2rem 2rem;
    .warning-text{
      color: $button-hover-color,
    }
  }
}
