@use "../abstracts" as *;

.hero-section {
  background: url("../../assets/hero_img.jpeg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  .hero-content {
    padding: 4rem 1rem;
    .warning-text{
      color: $button-hover-color,
    }
  }
}
