@use "../abstracts" as *;

.hero-section {
  background: url("../assets/hero_img.jpeg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  .hero-content {
    margin: 110px 0 0 0;
    ul {
      list-style: none;
      color: white;
    }
  }
}
