@use "../abstracts" as *;

.top-nav {
  background-color: $background-color;

  .nav-logo {
    height: 60px;
  }

  .navbar-nav {
    margin: auto;

    .nav-link {
      color:black;
      &:hover {
        color: $button-hover-color;
      }
    }
  }

  .nav-contact{
    &:hover {
      color: $button-hover-color;
    }
  }
}
