@use "../abstracts" as *;

.project-detail {
  padding-top: 60px;
  background: $primary-color;

  .detail-content {
    padding-bottom: 60px;
  }

  .project-detail-card {
    position: relative;
    width: 50%;
    margin: auto;
    border: 3px solid $button-hover-color;

    .project-detail-image {
      width: 100%;
    }
  }
}
